<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>articles </title>
    <style>
        input {display: block;}
        textarea {display:block;}
    </style>
</head>
<body>

<form method="post" action="" >
    {% csrf_token %}

{##}
{#    <label for="title">Title: </label>#}
{#    <input id="title" type="text" name="title">#}
{##}
{#    <label for="category">Category: </label>#}
{#    <input id="category" type="text" name="category">#}
{#    <label for="author">Author: </label>#}
{#    <input id="author" type="text" name="author">#}
{#    <label for="content">Content:</label>#}
{#    <textarea id = "content"  name="content" rows="4" cols="50"></textarea>#}
    {{ form }}
    <input type="submit" value="Create Article">
</form>
<ul>
    {% for item in articles %}
        <li>
            <p>Title: {{item.title }}</p>
            <p>category: {{ item.category}}</p>
            <p>created by : {{ item.author}}</p>
            <p>posted at : {{ item.created_at}}</p>
            <a href="http://127.0.0.1:8000/blog/Articles/{{ item.id }}">Read the Article</a>
            <br>
            <br>
        </li>
    {% endfor %}
</ul>


</body>
</html>